body {
    font-family: $font-body;
    background-color: $color-bg;
    color: $color-text;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: $font-title;
    margin: 0;
}

p {
    font-size: $fs-lg;
    margin: 0;
}